*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
#Product{
    /* border: 2px solid black; */
    width: 70%;
    margin: 20px;
}
#images{
    width: 100%;
}
.main{
    display: flex !important;
}
h1{
    width: 100%;
}
#btn{
    display: block;
    padding: 5px 10px;
    border-radius: 60px;
    border-color: #C18D83;
    color:#61534E;
    margin-top: -20px;
    margin-left: 20px;
    position: relative;
    background-color: #FFFFFE;
}
#img{
    margin-top: 20px;
    width: 90%;
    border-radius: 8px;
}
.cart{
    width: 30%;
}
#btncart{
    background-color: red;
    position: absolute;
    width: 50%;
    padding: 9px 10px;
    border-radius: 40px;
    border: none;
    padding: 5px 10px;
    border-radius: 60px;
    border-color: #C18D83;
    color:#61534E;
    margin-top: -20px;
    margin-left: 20px;
    position: relative;
    background-color: burlywood;
      display: none; 
    justify-content: space-between !important;

}
  
    

#decrease{
    border: 2px solid black;
    padding: 8px;
    border-radius: 50px;
}
#increase{
    border: 2px solid black;
    padding: 6px;
    border-radius: 50px;
}