*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
#Product{
    width: 70%;
    margin: 20px;
}
#images{
    width: 100%;
}
.main{
    display: flex !important;
}
h1{
    width: 100%;
}
#main{
    width: 100%;
    background-color: #FCF8F5;
}
#treebtn{
background-color:#FCF8F5;
font-size: 12px;
padding: 9px 20px;
margin-left: 30px;
border-radius: 5px;
border: none;
}
#confirmbtn{
    background-color: #C83B0E;
    border-radius: 20px;
    width: 80%;
    padding: 5px 10px;
    border: none;
    color: #FFFFFE;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 30px;
}
#btn{
    display: block;
    padding: 5px 8px;
    border-radius: 60px;
    border-color: #C18D83;
    color:#C83B0E;
    margin-top: -20px;
    margin-left: 30px;
    position: relative;
    background-color: #FFFFFE;
}
#img{
    margin-top: 20px;
    width: 90%;
    border-radius: 8px;
}
.cart{
    width: 30%;
}
#btncart{
    background-color: #C83B0E;
    position: absolute;
    width: 50%;
    padding: 9px 10px;
    border-radius: 40px;
    border: none;
    padding: 5px 10px;
    border-radius: 60px;
    border-color: #C18D83;
    color:#FFFFFE;
    margin-top: -20px;
    margin-left: 30px;
    position: relative;
      display: none; 
    justify-content: space-between !important;

}
  
 .cart2{
    border: 2px solid red !important;
    width: 30%;
    margin: 30px;
    font-size: 17px;
    background-color: #FFFFFE;
 }   
#your{
    color: #C83B0E;
}
#decrease{
    border: 1px solid white;
    padding: 6px;
    color: #C83B0E;
    border-radius: 50px;
}
#increase{
    border: 1px solid white;
    color: #C83B0E;
    padding: 6px;
    border-radius: 50px;
}
span{
    float: right;
}